h3 {
    color: midnightblue;
    font-family: 'Verdana';
    font-size: 35px;
}

button {
    background-color: midnightblue;
    color: whitesmoke;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    transition: color 0.3s;
}

    button:hover {
        background-image: linear-gradient(180deg, #050505 0%, #001f3f 100%);
    }

.edit-button {
    background-color: #008080;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    margin-right: 5px;
}

    .edit-button:hover {
        background-image: linear-gradient(180deg, #050505 0%, #001f3f 100%);
    }

.delete-button {
    background-color: #008080;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    margin-right: 5px;
}

    .delete-button:hover {
        background-image: linear-gradient(180deg, #050505 0%, #001f3f 100%);
    }

.text {
    color: midnightblue;
    font-family: 'Verdana';
    font-size: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

    .table th, .table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    .table th {
        background-color: #3498db;
        color: #fff;
    }

    .table tr:nth-child(even) {
        background-color: #f2f2f2;
    }
