
button {
    background-color: midnightblue;
    color: whitesmoke;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    transition: color 0.3s;
    margin-top: 30px;
}

    button:hover {
        background-image: linear-gradient(180deg, #050505 0%, #001f3f 100%);
    }

.text {
    color: midnightblue;
    font-family: 'Verdana';
    font-size: 35px;
}

h1 {
    color: midnightblue;
    font-family: 'Verdana';
    font-size: 15px;
}

