@page "/"

<div class="centered-container">
    <h1 class="greeting">Hello 👋</h1>
    <h1 class="greeting">Welcome to our cafe!</h1>
    <h1 class="greeting">Hope you will have a wonderful day with a coffee ☕</h1>
</div>